<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChattingApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style type="text/css">
        body {
            overflow-x: hidden;
        }

        .scroll-div {
            width: 330px;
            background: #004242;
            height: 630px;
            overflow-x: hidden;
            overflow-y: scroll;
            align-self: flex-start;
        }

        .scroll-object {
            color: black;
            font-family: cursive;
            padding: 10px;
            margin-left: 0;
        }

        .message {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
