@model IEnumerable<User>
@{
    ViewData["Title"] = "Home";
}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" asp-controller="User" asp-action="Home">ChattingApplication</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-controller="User" asp-action="Home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-controller="User" asp-action="Logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="row">

    <div class="col-3">
        <div class="scroll-bg">
            <div class="scroll-div">
                <div class="scroll-object">

                    @foreach (var user in Model)
                    {
                        if (user.Username != ViewBag.user)
                        {
                            var photopath = "../images/" + (user.Photopath);
                            <div class="card" style="width: 18rem;">
                                <img src="@photopath" class="card-img-top" height="150" width="100" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">@user.Username</h5>
                                    <a class="btn btn-dark" asp-controller="User" asp-action="Profile" asp-route-id="@user.Id">View Profile</a>
                                    <a class="btn btn-success">Message</a>
                                </div>
                            </div>
                            <br/>}
                    }
                    &nbsp;&nbsp;
                </div>
            </div>

        </div>
    </div>
    <div class="col-9">
        <asp:Image ID="Image1" runat="server" src="..." Style="height:500px;width:700px;margin-left:15%;margin-top:4%;" />
    </div>
