@model IEnumerable<Chat>
@{
    ViewData["Title"] = "Message";
}

@foreach (var chat in Model)
{
    if ((chat.Sender == ViewBag.SenderId && chat.Reciver == ViewBag.ReciverId) || (chat.Reciver == ViewBag.SenderId && chat.Sender == ViewBag.ReciverId))
    {
        if (chat.Sender == ViewBag.SenderId)
        {
            <h6>sender</h6>
            <h6 style="color:darkmagenta">@chat.Message</h6>
        }
        else
        {
            <h6>Reciver</h6>
            <h6 style="color:red">@chat.Message</h6>
        }

    }
}

<form action="../SaveChat" method="post">
    <input class="form-control" name="Message" type="text" />
    <input type="submit" value="Send" class="btn btn-primary" /><a class="btn btn-danger" asp-controller="User" asp-action="Home">Back</a>
</form>


